* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container{
	margin: 0 auto;
	width: 100%;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

table tbody th{
	width: 15%;
}

/******************************/
/* HEADER                     */
/******************************/

nav{
	border-bottom: 1px lightgray solid;
}

/**********************************  */

#hospitalStatusDashboard{

	margin-top: 50px;
	height: 500px;
}

#hospitalStatusTable{
	margin-top: 50px;
	height: 200px;
}

#hospitalStatusTable table{
	width: 1295px;
}

/**********************************  */

#dayOfTheWeek{
	margin-top: 50px;
	height: 200px;
}

#dayOfTheWeek table{
	width: 1295px;
}

/**********************************  */

#popuDivideHos{
	margin-top: 50px;
	height: 200px;
}

#popuDivideHos table{
	width: 1295px;
}

/******************************/
/* FOOTER                     */
/******************************/

footer{
	background-color: #F8F9FA;
	border-top: 1px lightgray solid;
}