* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container {
	margin: 0 auto;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* Carousel */

#mainCarousel img {
	width: 100%;
	height: 900px;
	object-fit: cover;
	filter: brightness(50%);
}

/* board */

#board {
	margin-top: 50px;
	height: 500px;
	padding: 0;
}

#board #title {
	height: 100px;
	line-height: 100px;
	padding-left: 10px;
	margin: 0 ;
	font-size: 2rem;
}

#board a {
	text-decoration: none;
	color: black;
}

#board table{
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

#board table tr{
 height: 50px;
}

#board table td{
  white-space: nowrap;
	overflow: hidden;
}
#board table th{
	text-align: center;
}
#board table td:last-child{
	text-align: center;
}

/* footer */
footer {
	background-color: #F8F9FA;
	border-top: 1px lightgray solid;
}