* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container{
	margin: 0 auto;
	width: 100%;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

/******************************/
/* HEADER                     */
/******************************/

nav{
	border-bottom: 1px lightgray solid;
}

/******************************/
/* Content                    */
/******************************/

#map{
	margin-top: 50px;
	margin-bottom: 50px;
	height: 800px;
	border: 1px solid black;
	overflow: hidden;
}

#map #mapMenu{
	width: 160px;
	position: absolute; 
	z-index: 2;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #F8F9FA;
	border: 1px solid black;
}

#map .dropdown-menu{
	text-align: center;
}

#map .dropdown-menu li{
	margin: 5px;
}

#map .dropdown-menu li:hover{
	cursor: pointer;
	text-decoration: underline;
}

/******************************/
/* FOOTER                     */
/******************************/

footer{
	background-color: #F8F9FA;
	border-top: 1px lightgray solid;
}