#map{
	margin-top: 50px;
	margin-bottom: 50px;
	height: 800px;
	border: 1px solid black;
	overflow: hidden;
}

#map #mapMenu{
	width: 160px;
	position: absolute; 
	z-index: 2;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #F8F9FA;
	border: 1px solid black;
}

#map .dropdown-menu{
	text-align: center;
}

#map .dropdown-menu li{
	margin: 5px;
}

#map .dropdown-menu li:hover{
	cursor: pointer;
	text-decoration: underline;
}

#mapOverlay{
	padding: 5px 0;
	text-align: center;
	width: 180px;
	border: 1px solid black;
	background-color: #F8F9FA;
	border-radius: 10px;
}

#mapOverlay li:first-child:hover{
	text-decoration: underline;
}