* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container{
	margin: 0 auto;
	width: 100%;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

table tbody th{
	width: 15%;
}

/******************************/
/* HEADER                     */
/******************************/
nav{
	border-bottom: 1px lightgray solid;
}

/******************************/
/* body                       */
/******************************/

#floatingDashboard{
	margin-top: 50px;
	height: 500px;
}
#floatingTable{
	margin-top: 50px;
}

#floatingTable table{
	width: 1295px;
}

 #floatingTable table tr{
	margin: 0 auto;
} 

#dayOfTheWeek{
	margin-top: 50px;
}

#dayOfTheWeek table{
	width: 1295px;
}

/******************************/
#residentDashboard{
	margin-top: 50px;
	height: 500px;
}
#residentTable{
	margin-top: 50px;
}

#residentTable table{
	width: 1295px;
}

#ageGender{
	margin-top: 50px;

}
#ageGender table{
	width: 1295px;
}

/******************************/

#forecastDashboard{
	margin-top: 50px;
	height: 500px;
	background-color: blue;
}

#forecastTable{
	margin-top: 50px;

}
#forecastTable table{
	width: 1295px;
}

/******************************/
/* FOOTER                     */
/******************************/

footer{
	margin-top: 50px;
	background-color: #F8F9FA;
	border-top: 1px lightgray solid;
}